<body class="home-image">
    <header class="header">
        <a href="#" class="logo">
            <i class="fas fa-dumbbell"></i>Powerlift with Kouki
        </a>
        <nav class="navbar">
            <a routerLink="/home">Home</a>
            <a href="#">|</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/signup" class="btn">Sign Up</a>
        </nav>
    </header>

    <section class="home">
        <div class="max-width">
            <div class="home-content">
                <h3>Track your progress <br> Break those PRs</h3>
                <p>Unleash your strength, conquer your goals, and redefine your limits with our powerlifting platform. Elevate your performance, one lift at a time.</p>
                <button class="btn" routerLink="/login">Get started</button>
            </div>
        </div>
    </section>
</body>
